@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
  
.home,
.games {
  /* display: flex; */
  height: 90vh;
  align-items: center;
  /* justify-content: center; */
  font-size: 1rem;
  text-align: center;
}

.rank {
  text-align: center;
}

.rank-table {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.rank-table thead tr {
  background-color: #202649;
  color: #ffffff;
  /* text-align: left; */
}

.rank-table th,
.rank-table td {
    padding: 12px 15px;
}

.rank-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.rank-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.rank-table tbody tr:last-of-type {
  border-bottom: 2px solid #202649;
}

.rank-table tbody tr.active-row {
  font-weight: bold;
  color: #202649;
}

.pageTitle {
  padding-top: 50px;
  text-align: center;
}

.table-games {
  border: 1px black solid;
}

.table-row-games {
  border: 1px black solid;
}

.table-row-cell {
  border: 1px black solid;
  padding: 4px;
}

.home-page-content {
  border: 2px solid black;
  padding: 10px 0px 10px 0px;
  margin: 100px 30px 0px 30px;
  text-align: center;
}